@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.navbar{
  background: $clr-white;
  width: 100%;
  height: 5rem;
  .nav-center{
    @include flex-between;

    .logo{
      height: 5rem;
      padding: 0;
      width: 15%;
      object-fit: cover;
    }
    .nav-toggle{
      font-size: 2rem;
      margin: 0.5rem 0 0 0.5rem;
    }
  }
}