@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.error-container {
  @include flex-center;
  flex-direction: column;
  padding-top: 7rem;
  height: 65vh;
}
