@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.menu-container {
  @include center-auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 60vw;
  max-width: 600px;

  h1{
    color: $clr-primary-3;
    text-align: center;
  }
  .row {
    @include flex-between;
    width: 100%;  

    .link{
      font-size: 1.2rem;
      color: $clr-black;
      text-decoration: none;
    }
  }
}
