@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.landing {
  padding: 2rem;
  @include center-auto;
  overflow: hidden;
  h1,
  h2 {
    color: $clr-black;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .img-container{
    @include flex-center;
    img{
      @include box(260px, 130px);
      border: 1.5px solid $clr-black;
    }
  }
  .about-title{
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: center;
    color: $clr-black;
  }
  .about{
    text-align: center;
    color: $clr-black;
  }
}
