@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as  *;

.landing {
  padding: 2rem;
  @include center-auto;
  overflow: hidden;
  h3{
    font-weight: bold;
  }
  .img-container {
    @include flex-center;
    img {
      height: 50vh;
      width: 80vw;
      border-radius: 40px;
    }
  }
  .text-container {
    margin-top: 1rem;
    .about-container {
      .about-title {
        color: $clr-black;
        text-align: center;
      }
      .about {
        text-align: center;
        color: $clr-black;
      }
    }
    .experience-container {
      .experience-title {
        color: $clr-black;
        text-align: center;
      }
      ul {
        width: 50vw;
        max-width: 600px;
        list-style: disc;
        margin-left: 2rem;
        color: $clr-black;
        margin-bottom: 1rem;
      }
    }
  }
  .contact-container {
    @include flex-center;
    .contact {
      text-align: center;
      width: 170px;
      background: $clr-primary-2;
      color: $clr-white;
      border-radius: $radius;
      font-size: 1.6rem;
      transition: $transition;
      outline: none;

      &:hover {
        background: $clr-primary-1;
        color: $clr-grey-8;
      }
    }
  }
}

@include tablet {
  .landing {
    .text-container {
      @include flex-evenly;
      align-items: baseline;
      height: auto;
      .about-container{
        height: 100%;
        width: 30vw;
      }
      .experience-container {
        height: 100%;
        width: 30vw;
        ul{
          width: auto;
        }
      }
    }
    .contact-container{
      margin-top: 1rem;
    }
  }
}
