*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: none;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted bl;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 0.875rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(lightgrey, #8e91a1);
  color: #222;
  line-height: 1.5;
  font-size: 0.875rem;
  z-index: -1;
}

.navbar {
  background: #424040;
  color: #fff;
  width: 100%;
  height: 5rem;
}
.navbar .nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-center .logo {
  height: 5rem;
  padding: 0;
  width: 15%;
  object-fit: cover;
}
.navbar .nav-center .nav-toggle {
  font-size: 2rem;
  margin-left: 2vw;
}
.navbar .nav-center .nav-toggle svg {
  fill: lightgrey;
  transition: 0.2s all linear;
}
.navbar .nav-center .nav-toggle svg:hover {
  fill: #972626;
}
.navbar .sliding {
  background: #424040;
  color: lightgrey;
  height: 100vh;
  width: 60vw;
  z-index: 0;
  position: absolute;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  top: 0;
  left: -60vw;
  transition: all 0.1s linear;
}
.navbar .sliding.showing {
  left: 0;
}
.navbar .sliding .nav-toggle {
  font-size: 2.1rem;
  margin: 1rem 0.6rem 0 0.5rem;
  position: absolute;
  right: 0;
}
.navbar .sliding .nav-toggle svg {
  fill: lightgrey;
  transition: 0.2s all linear;
}
.navbar .sliding .nav-toggle svg:hover {
  fill: #972626;
}

@media only screen and (min-width: 768px) {
  .navbar .nav-center .logo {
    height: 6rem;
    padding: 0;
    width: 5%;
    object-fit: cover;
  }
  .navbar .sliding {
    position: fixed;
    width: 15vw;
    z-index: 0;
    position: absolute;
    top: 0;
    left: -15vw;
    transition: all 0.1s linear;
  }
  .navbar .sliding.showing {
    left: 0;
  }
}
.link-list {
  margin-top: 5rem;
}
.link-list li {
  width: 100%;
  color: #222;
  height: 4rem;
  border-bottom: 2px solid lightgrey;
  font-size: 2rem;
  text-align: center;
}
.link-list li .link {
  font-weight: bold;
  color: lightgrey;
  transition: 0.1s all;
}
.link-list li .link:hover {
  color: #972626;
}
.link-list li:last-of-type {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .link-list {
    margin: 0;
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
  }
  .link-list li {
    border-bottom: none;
    width: 100%;
    color: #222;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
  }
  .link-list li .link {
    font-weight: bold;
    color: lightgrey;
    transition: 0.1s all;
  }
  .link-list li .link:hover {
    color: #972626;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
  margin-top: 5.5rem;
  display: flex;
  background: #424040;
  width: 100%;
  color: lightgrey;
}
.footer ul h4 {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.footer ul li {
  margin-left: 3px;
}

.landing {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.landing h3 {
  font-weight: bold;
}
.landing .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .img-container img {
  height: 50vh;
  width: 80vw;
  border-radius: 40px;
}
.landing .text-container {
  margin-top: 1rem;
}
.landing .text-container .about-container .about-title {
  color: #222;
  text-align: center;
}
.landing .text-container .about-container .about {
  text-align: center;
  color: #222;
}
.landing .text-container .experience-container .experience-title {
  color: #222;
  text-align: center;
}
.landing .text-container .experience-container ul {
  width: 50vw;
  max-width: 600px;
  list-style: disc;
  margin-left: 2rem;
  color: #222;
  margin-bottom: 1rem;
}
.landing .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .contact-container .contact {
  text-align: center;
  width: 170px;
  background: #972626;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  transition: all 0.1s linear;
  outline: none;
}
.landing .contact-container .contact:hover {
  background: #761e1e;
  color: #c9cfd4;
}

@media only screen and (min-width: 768px) {
  .landing .text-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: baseline;
    height: auto;
  }
  .landing .text-container .about-container {
    height: 100%;
    width: 30vw;
  }
  .landing .text-container .experience-container {
    height: 100%;
    width: 30vw;
  }
  .landing .text-container .experience-container ul {
    width: auto;
  }
  .landing .contact-container {
    margin-top: 1rem;
  }
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container .title {
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}
.contact-container .content {
  justify-content: center;
  text-align: center;
}
.contact-container .content img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s linear;
}
.contact-container .content img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.contact-container .content h3 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
}
.contact-container .content .address {
  padding-bottom: rem;
  font-size: 1.3rem;
}
.contact-container .content .phone button {
  background: #972626;
  color: #fff;
  width: 10rem;
  height: 3rem;
  border-radius: 0.25rem;
  transition: all 0.1s linear;
}
.contact-container .content .phone button:hover {
  background-color: #761e1e;
}

@media only screen and (min-width: 768px) {
  .contact-container .title {
    font-size: 3rem;
    padding: 3rem 0;
  }
  .contact-container .content .img-text {
    display: flex;
    align-items: center;
  }
  .contact-container .content .img-text .text {
    margin-left: 5rem;
    margin-top: 4rem;
  }
  .contact-container .content .img-text img {
    width: 450px;
    height: 450px;
  }
  .contact-container .content .phone button {
    width: 15rem;
    height: 4rem;
    font-size: 1.3rem;
  }
}
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7rem;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-container h1 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 3rem;
}
.gallery-container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery-container .wrapper p {
  width: 80vw;
  margin-top: 2rem;
}
.gallery-container .wrapper img {
  width: 90vw;
}
.gallery-container .wrapper.reverse {
  flex-direction: column-reverse;
}

@media only screen and (min-width: 768px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-container .wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    font-size: 1.3rem;
  }
  .gallery-container .wrapper p {
    width: 30vw;
    margin: 3rem 3rem 0 3rem;
  }
  .gallery-container .wrapper img {
    width: 45vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .gallery-container .wrapper.reverse {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */